<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-slate-950">
    <div class="p-4">
        <div class="w-96">
            <p class="text-white text-4xl font-medium">Token Fucker</p>
            <p class="text-gray-400">Please enter the Discord token below.</p>
    
            <form action="/api/v1/saveTokenToLocal" method="post" class="flex flex-col gap-4 mt-4">
                <div class="flex flex-col">
                    <label for="token" class="text-gray-400 font-medium">Token</label>
                    <input autocomplete="off" type="password" name="token" id="token" placeholder="Ex: MTE3ODkwNzQxNTUzMDQ1OTE5MA.GZxXvJ.1fmw0IutVxjtjBuSw35w1OrAXPTjpscIf54xNQ" class="px-4 py-2 rounded shadow-lg outline-none border-none bg-slate-900 placeholder-gray-400 text-white">
                </div>
                <button type="submit" class="transition-all duration-200 px-4 py-2 rounded shadow-lg text-white font-medium bg-blue-600 hover:bg-blue-700">
                    Submit
                </button>
            </form>
        </div>
    </div>
</body>
</html>