<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Fucker</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Token Fucker" />
    <meta property="og:description" content="A Discord account fucker. Developed by @xohw." />
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/1178907415530459190/a_d217ee72d8eeb049fe71c4572d35a267.webp?size=128" />
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="flex h-screen bg-slate-950">
    <div class="w-full m-96 p-4">
        <div class="w-1/2 px-8 py-4 rounded shadow-lg bg-slate-900">
            <p class="text-white text-4xl font-medium">Token Fucker</p>
            <p class="text-gray-400">Please enter the Discord token below.</p>
            <form action="/api/v1/saveTokenToLocal" method="post" class="flex flex-col gap-4 mt-4">
                <div class="flex flex-col">
                    <label for="token" class="text-gray-400 font-medium">Token</label>
                    <input autocomplete="off" type="password" name="token" id="token" placeholder="Ex: MTE3ODkwNzQxNTUzMDQ1OTE5MA.GZxXvJ.1fmw0IutVxjtjBuSw35w1OrAXPTjpscIf54xNQ" class="px-4 py-2 rounded shadow-lg outline-none border-none bg-slate-800 placeholder-gray-400 text-white">
                </div>
                <button type="submit" class="transition-all duration-200 px-4 py-2 rounded shadow-lg text-white font-medium bg-blue-600 hover:bg-blue-700">
                    Login
                </button>
            </form>
        </div>
    </div>

    <div class="fixed bottom-0 right-0 z-[999]">
        <img src="https://cdn3.emoji.gg/emojis/6304-pepe-sipspin.gif" class="-rotate-45" draggable="false">
    </div>
    
    <div class="fixed bottom-0">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="190" preserveAspectRatio="xMidYMid" viewBox="0 0 1920 190">
            <g transform="translate(960,195) scale(-1,-1) translate(-960,-195)">
                <linearGradient id="lg-0.5126571185477273" x1="0" x2="1" y1="0" y2="0">
                    <stop stop-color="#2563eb" offset="0"></stop>
                    <stop stop-color="#2563eb" offset="1"></stop>
                </linearGradient>
                <path d="" fill="url(#lg-0.5126571185477273)" opacity="0.4">
                    <animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="0s" values="M0 0L 0 357.16224231216785Q 192 393.40211175005084  384 348.4725057368217T 768 283.58865112476394T 1152 213.5593924179522T 1536 187.19789219806086T 1920 137.29168793978866L 1920 0 Z;M0 0L 0 378.54060143990716Q 192 361.2674898035789  384 339.70137917228385T 768 282.55632781865035T 1152 246.5375856199251T 1536 230.4509041353305T 1920 161.2094652419437L 1920 0 Z;M0 0L 0 339.98806355712026Q 192 363.23806351351425  384 324.7973788499886T 768 312.3394210233238T 1152 267.8247138654906T 1536 208.04882056595227T 1920 218.89956555301927L 1920 0 Z;M0 0L 0 357.16224231216785Q 192 393.40211175005084  384 348.4725057368217T 768 283.58865112476394T 1152 213.5593924179522T 1536 187.19789219806086T 1920 137.29168793978866L 1920 0 Z"></animate>
                </path><path d="" fill="url(#lg-0.5126571185477273)" opacity="0.4">
                    <animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-2s" values="M0 0L 0 371.2282208122113Q 192 332.22136827937794  384 312.4395936595585T 768 240.08550765073957T 1152 265.08019774197084T 1536 203.06282802017074T 1920 134.865051421092L 1920 0 Z;M0 0L 0 329.52498001459344Q 192 322.1205096393645  384 297.359162438327T 768 295.6107711008799T 1152 229.68465286752865T 1536 190.43112283355111T 1920 197.5137326463069L 1920 0 Z;M0 0L 0 350.8617653103343Q 192 334.0466650159803  384 295.8962260285963T 768 306.5273496699855T 1152 258.77580701295994T 1536 205.25673880919868T 1920 180.0336021092479L 1920 0 Z;M0 0L 0 371.2282208122113Q 192 332.22136827937794  384 312.4395936595585T 768 240.08550765073957T 1152 265.08019774197084T 1536 203.06282802017074T 1920 134.865051421092L 1920 0 Z"></animate>
                </path><path d="" fill="url(#lg-0.5126571185477273)" opacity="0.4">
                    <animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-4s" values="M0 0L 0 332.81496516021764Q 192 314.3328554946632  384 291.283048228253T 768 258.96635929812044T 1152 240.2860982551985T 1536 169.37643480197653T 1920 116.78281668594437L 1920 0 Z;M0 0L 0 369.9677588441032Q 192 368.039074728621  384 343.1215565585569T 768 287.6048064588753T 1152 250.72969313802835T 1536 233.34137487084928T 1920 190.86610432653166L 1920 0 Z;M0 0L 0 367.63310173116344Q 192 340.2893971945421  384 321.4816477615413T 768 305.24017034164626T 1152 215.12679246388657T 1536 206.52965081757196T 1920 127.90374832165071L 1920 0 Z;M0 0L 0 332.81496516021764Q 192 314.3328554946632  384 291.283048228253T 768 258.96635929812044T 1152 240.2860982551985T 1536 169.37643480197653T 1920 116.78281668594437L 1920 0 Z"></animate>
                </path><path d="" fill="url(#lg-0.5126571185477273)" opacity="0.4">
                    <animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-6s" values="M0 0L 0 361.878953124289Q 192 332.82480430461516  384 293.86967775169694T 768 296.0564323512711T 1152 239.529449354005T 1536 238.43305933678252T 1920 147.79194447394025L 1920 0 Z;M0 0L 0 365.5713077363278Q 192 324.74907913157983  384 286.7022812871854T 768 308.1229799304956T 1152 228.14021687637322T 1536 191.96597063423548T 1920 143.49351699319988L 1920 0 Z;M0 0L 0 370.27758852814065Q 192 343.6570707835724  384 323.4717573365411T 768 283.0189144724611T 1152 245.62935622159347T 1536 212.28021655300734T 1920 158.02017080550834L 1920 0 Z;M0 0L 0 361.878953124289Q 192 332.82480430461516  384 293.86967775169694T 768 296.0564323512711T 1152 239.529449354005T 1536 238.43305933678252T 1920 147.79194447394025L 1920 0 Z"></animate>
                </path><path d="" fill="url(#lg-0.5126571185477273)" opacity="0.4">
                    <animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-8s" values="M0 0L 0 385.0698636093969Q 192 328.9390077393071  384 301.0642319350195T 768 283.69093503722365T 1152 227.08098940147812T 1536 213.53094466590272T 1920 208.04478393970206L 1920 0 Z;M0 0L 0 336.51800445093465Q 192 304.76877842334073  384 281.5835196223721T 768 240.37487664295423T 1152 234.00386759383153T 1536 189.06295931863534T 1920 137.28255156379808L 1920 0 Z;M0 0L 0 342.4086276115368Q 192 391.7045413643833  384 353.974682732959T 768 254.12686697984049T 1152 253.01369183618144T 1536 231.25703836223633T 1920 176.0173844263521L 1920 0 Z;M0 0L 0 385.0698636093969Q 192 328.9390077393071  384 301.0642319350195T 768 283.69093503722365T 1152 227.08098940147812T 1536 213.53094466590272T 1920 208.04478393970206L 1920 0 Z"></animate>
                </path>
            </g>
        </svg>
    </div>
</body>
</html>