<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Xohw Online" />
    <meta property="og:description" content="A Discord account fucker. Developed by @xohw." />
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/1178907415530459190/a_d217ee72d8eeb049fe71c4572d35a267.webp?size=128" />
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="global.css">
</head>
<body class="bg-slate-950">
    <div class="flex">
        <!-- sidebar -->
        <%- include("../components/sidebar.ejs"); %>
        
        <!-- mobile sidebar -->
        <%- include("../components/mobileSidebar.ejs"); %>

        <!-- content -->
        <div class="md:ml-80 p-4 w-full">
            <div class="w-full">
                <p class="text-white text-4xl font-medium">Logs</p>
                <p class="text-gray-400">nigger</p>

                <div class="bg-slate-900 p-4 rounded shadow-lg mt-4">
                    <code class="text-gray-400 whitespace-pre-line"><%= logs %></code>
                </div>

                <div class="mt-4 flex items-center gap-4">
                    <form action="/api/v1/clearLogs" method="get">
                        <% if (logs.length > 0) { %>
                            <button type="submit" class="transition-all duration-200 px-4 py-2 rounded shadow-lg text-white font-medium bg-red-600 hover:bg-red-700">
                                Clear Logs
                            </button>
                        <% } else { %>
                            <button type="button" disabled class="transition-all duration-200 px-4 py-2 rounded shadow-lg text-white font-medium bg-red-600/50 cursor-not-allowed">
                                Clear Logs
                            </button>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>