<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misc</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Token Fucker" />
    <meta property="og:description" content="A Discord account fucker. Developed by @xohw." />
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/1178907415530459190/a_d217ee72d8eeb049fe71c4572d35a267.webp?size=128" />
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-slate-950">
    <div class="flex">
        <!-- sidebar -->
        <%- include("../components/sidebar.ejs"); %>

        <!-- content -->
        <div class="ml-80 p-4">
            <div class="w-96">
                <p class="text-white text-4xl font-medium">Misc</p>
                <p class="text-gray-400">lol idk what to put here</p>

                <div class="bg-slate-900 p-4 rounded shadow-lg mt-4">
                    <div class="flex items-center gap-4">
                        <form action="/api/v1/fuckSettings" method="get">
                            <button type="submit" class="transition-all duration-200 px-4 py-2 rounded shadow-lg text-white font-medium bg-blue-600 hover:bg-blue-700">
                                Fuck Settings
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>