<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spammer</title>
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-slate-950">
    <div class="flex">
        <!-- sidebar -->
        <%- include("../components/sidebar.ejs"); %>

        <!-- content -->
        <div class="p-4">
            <div class="w-96">
                <p class="text-white text-4xl font-medium">Spammer</p>
                <p class="text-gray-400">Does da cool spammy mass dm stuff :3</p>

                <form action="/api/v1/spamDaNegro" method="post" class="flex flex-col gap-4 mt-4">
                    <div class="flex flex-col">
                        <label for="messageCount" class="text-gray-400 font-medium">Message Count</label>
                        <input autocomplete="off" type="text" name="messageCount" id="messageCount" placeholder="Ex: 100" class="px-4 py-2 rounded shadow-lg outline-none border-none bg-slate-900 placeholder-gray-400 text-white">
                    </div>
                    <div class="flex flex-col">
                        <label for="messageContent" class="text-gray-400 font-medium">Message Content</label>
                        <input autocomplete="off" type="text" name="messageContent" id="messageContent" placeholder="Ex: hi! :wave:" class="px-4 py-2 rounded shadow-lg outline-none border-none bg-slate-900 placeholder-gray-400 text-white">
                    </div>
                    <button type="submit" class="transition-all duration-200 px-4 py-2 rounded shadow-lg text-white font-medium bg-blue-600 hover:bg-blue-700">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>