<aside class="flex-col top-0 left-0 w-80 h-screen">
    <div class="overflow-y-auto py-5 px-3 h-full bg-slate-900 shadow">
        <ul class="space-y-2">
            <li>
                <a href="/user" class="transition-all duration-200 flex items-center p-2 text-gray-400 rounded hover:bg-slate-800/[.5] hover:text-white">
                    <span>User Information</span>
                </a>
            </li>
            <li>
                <a href="/spammer" class="transition-all duration-200 flex items-center p-2 text-gray-400 rounded hover:bg-slate-800/[.5] hover:text-white">
                    <span>Spammer</span>
                </a>
            </li>
            <li>
                <a href="/logs" class="transition-all duration-200 flex items-center p-2 text-gray-400 rounded hover:bg-slate-800/[.5] hover:text-white">
                    <span>Logs</span>
                </a>
            </li>
        </ul>
    </div>
</aside>